<footer>
    <div class="footer-title">
        <h1>Museo comunitario <br> contalpa</h1>
        <!-- <i><img src="/assets/linea.svg" alt=""></i> -->
        <h4>Nombre <br> de dios</h4> 
    </div>
    <section class="footer-nav">
        <div class="nav-container">
            <nav>
                <ul class="footer-menu">
                    <li class="menu-item">
                        <a href="">#Media</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Sala de prensa</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Eventos corporativos</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Profesionales de turismo</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Trabaja con nosotros</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Boletín</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <div class="social-container">
                <section class="footer-redes">
                    <ul class="redes">
                        <li class="redes-item">
                            <a href="https://www.facebook.com/museocomunitariocontalpa">
                                <img class="redes-icon" src="/assets/facebook-f.svg" alt="">
                            </a>
                        </li>
                        <li class="redes-item">
                            <a href="/no-disponible">
                                <img class="redes-icon" src="/assets/instagram.svg" alt="">
                            </a>
                        </li>
                        <li class="redes-item">
                            <a href="/no-disponible">
                                <img class="redes-icon" src="/assets/youtube.svg" alt="">
                            </a>
                        </li>
                        <li class="redes-item">
                            <a href="/no-disponible">
                                <img class="redes-icon" src="/assets/tiktok.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </section>
                <section class="patrocinadores">
                    <h5>El museo comunitario contalpa agradece a sus colaboradores:</h5>
                    <div class="pat-container">
                        <a href="http://remunomex.uas.edu.mx/" class="footer-logo">
                            <img class="copy-logo" src="/assets/remunomex.png" alt="">
                        </a>
                        <a href="">
                            <img class="copy-logo" src="/assets/logov1-removebg.png" alt="">
                        </a>
                    </div>
                </section>
                <section class="copyright-sec">
                    <div class="copyright-container">
                        <p>Museo Comunitario Contalpa | IGHND © 2023</p>
                    </div>
                </section>
    </div>
</footer>