<main>
    <div class="title-container">
        <h1>Colección</h1>
    </div>
    <section>
        <div class="description">
            <p>
                Observa piezas palenteologicas que nos acercan a los seres que vivieron en nuestro mundo antes que nosotros, 
                piezas arequeologicas que nos ayudan a reconstruir y entender como era la civilaizacion de la region de nombre de dios en la antiguedad y
                objetos que son parte del desarrollo tecnologico para las personas.
            </p>       
        </div>
        <div class="explore-collection">
            <h1>Explora la colección</h1>
            <div class="collection-card">
                <a [routerLink]="['/coleccion/coleccion-permanente']">
                    <img src="/assets/MUSEO-CONTALPA-14.jpg" alt="">
                    <h2>Colección permanente</h2>
                </a>
            </div>
        </div>
        <div class="about-collection">
            <h1>Sobre la colección</h1>
            <div class="about-card">
                <a href="/coleccion/historia-de-la-coleccion">
                    <h2>Historia de la colección</h2>
                    <h4>Descubre como se reunió esta generosa colccion de piezas historicas.</h4>
                    <div class="card-botton">
                        <a href="/coleccion/historia-de-la-coleccion"  class="ov-btn-slide-bottom">Más información</a>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
