<main>
    <div class="title-container">
        <h1>Actividades</h1>
    </div>
    <section>
        <div class="activities" *ngIf="blogPosts$ | async as blogPosts">
            <div  class="activities-card" *ngFor="let blogPost of blogPosts.items">
                <img class="card-img" [src]="blogPost.fields.image.fields.file.url" alt="">
                <div class="body-card">
                    <h6 class="summary">{{blogPost.fields.tipo}}</h6>
                    <h1>{{blogPost.fields.titulo}}</h1>
                    <h4 class="summary">{{blogPost.fields.fecha}}</h4>
                    <h4 class="summary">{{blogPost.fields.duracion}}</h4>
                    <p class="summary">{{blogPost.fields.descripcion}}</p>
                    <h6 class="summary">{{blogPost.fields.publico}}</h6>
                </div>
                <!-- <a [routerLink]="['/blog', blogPost.sys.id]">Read more</a> -->
            </div>
        </div>
    </section>
</main>