<header class="site-header">
    <div class="heading-title">
        <a href="/">
            <h1>Museo comunitario <br> contalpa</h1>
        <!-- <i><img src="/assets/linea.svg" alt=""></i> -->
            <h4>Nombre <br> de dios</h4>
        </a>
    </div>
    <div class="site-header-menu">
        <div class="site-header-menu-top">
            <div class="menu-top">
                <nav>
                    <a class="site-menu-item site-menu-item-secondary bar" routerLink="/acerca-museo">Acerca del museo</a>
                    <!-- <a class="site-menu-item site-menu-item-secondary" href="">Patrocinio y colaboracion</a> -->
                    <!-- <a class="site-menu-item site-menu-item-primary bar" href="">Hazte amigo</a> -->
                    <a class="site-menu-item site-menu-item-primary bar" routerLink="/no-disponible">Tienda</a>
                    <!-- <a class="site-menu-item site-menu-item-primary" href="">Entradas</a> -->
                </nav>
                <!-- <div class="lenguage-switcher-container">
                    <div class="drop-lenguage">
                        <button class="lenguage-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lenguage</button>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="site-menu">
            <nav class="main-menu">
                <a routerLink="/visita" class="main-menu-item bar">Visita</a>
                <a routerLink="/coleccion" class="main-menu-item bar">Colección</a>
                <a routerLink="/exposiciones" class="main-menu-item bar">Exposiciones</a>
                <a routerLink="/actividades" class="main-menu-item bar">Actividades</a>
                <a routerLink="/no-disponible" class="main-menu-item bar">Multimedia</a>
                <!-- <a href="" class="main-menu-item">Buscar</a> -->
            </nav>
        </div>
    </div>
</header>