.title-container{
    text-align: center;
    padding-top: 10px;
    font-size: xx-large;
}

.main-content{
    padding: 12px;
    margin: 0 auto;
    width: 795px;
    

    @media screen and (max-width:420px) {
        width: 336px;
        margin: 1px;
    }

}

p{
    padding: 15px;
    font-weight:500;
    font-size: 20px;
    color:#4d4d4d;
    display: block;
    text-align: center;

    @media screen and (max-width:420px) {
        width: 340px;
    }
}

.main-content img{
    width: 100%;
    height: 490px;

    @media screen and (max-width:420px) {
        width: 335px;
        height: 389px;
        margin-left: 16px;
    }
}