<main>
    <div class="title-container">
        <h2 class="title">Historia del museo</h2>
    </div>
    <section>
        <div class="main-content">
           <p>
            El museo fue creado en 1987 por una agrupación de habitantes de Nombre de Dios, desde profesores, biologos, amas de casa, campesinos y comerciantes, todos con amor hacia su tierra y con la dispoción de cuidar y preservar tanto las costumbres, tradiciones y elementos
            originarios del municipio, quienes posteriormente fundarían asosiacion civil "Guardianes e investigadores de la historia de Nombre de Dios", actualmente esta asosiacion civil es la encargada del museo y sus actividades.
           </p>
           <img src="/assets/museo-c.png" alt="Fachada del museo">
           <p>
            Durante la primera exposición de las piezas realizada en el mercado del pueblo se le conoció como "museo regional", se le da el nombre de "Contalpa" gracias al cerro llamado del mismo modo que se encuentra a poco menos de 3km de la cabecera municipal, la palabra contalpa viene del dialecto que los indigenas zacatecos hablaban y se traduce como "lugar de tierra roja" que es también como
            se cree se conocia a la zona.
           </p>
           <img src="/assets/cerro-contalpa.jpg" alt="Cerro Contalpa">
           <p>
            El museo se ha encargado de recibir a los pobladores de Nombre de Dios, asi como a personas de lugares mas lejanos para compartir con ellos un pedacito de la historia de la zona, del mismo modo que ha llevado a cabo tradiciones que se han practicado desde antaño como 
            lo es el altar del día de muertos, el coloquio de semana santa que era realizado anteriormente por la hermandad de la cofradia de los dulces nombres de Jesús y la narración de historias a modo de relatos y leyendas.
           </p>
           <img src="/assets/coloquio.jpg" alt="coloquio semana santa">
           <p>
            Asi mismo el museo a establecido nuevas tradiciones en el municipio siendo estas el paseo ciclista de primavera, paseos ciclistas nocturnos, exposiciones de fotografias de Nombre de Dios, la representación de la fundación de Nombre de Dios, la quema de Judas, proyección 
            de película "La conquista espiritual", conmemoracion del decreto de nombramiento de ciudad a Nombre de Dios y celebración día del museo.
           </p>
        </div>
    </section>
</main>
