<main>
    <div class="title-container">
        <h1 class="title">Acerca del museo</h1>
    </div>
    <section>
        <div class="cards-container">
            <div class="card">
                <a href="/acerca-museo/historia">
                    <img src="/assets/mc.jpg" alt="" class="card-img">
                </a>
                <div class="body-card">
                    <a href="/acerca-museo/historia">
                        <h1>El museo</h1>
                        <h4>Cómo se funda el museo.</h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <a href="/coleccion/historia-de-la-coleccion">
                    <img src="/assets/MUSEO-CONTALPA-14.jpg" alt="" class="card-img">
                </a>
                <div class="body-card">
                    <a href="/coleccion/historia-de-la-coleccion">
                        <h1>Hostoria de la colección</h1>
                        <h4>Piezas a nuestro cuidado.</h4>
                    </a>
                </div>
            </div>
            <div class="card">
                <a href="/acerca-museo/IGHNDAC">
                    <img src="/assets/ac.jpg" alt="" class="card-img">
                </a>
                <div class="body-card">
                    <a href="/acerca-museo/IGHNDAC">
                        <h1>IGHND</h1>
                        <h4>La asosiación a cargo.</h4>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>