.title-container{
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
}

a{
    text-decoration: none;
    color: black;
}

.cards-container{
    text-align: center;
}

.card{
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    margin-bottom: 26px;
    margin-right: 20px;
    display: inline-block;
    text-align: left;
    width: 550px;
    height: 439px;
}

.body-card{
    padding-left: 23px;
}

.card img{
    width:550px;
    height: 310px;
}