<main>
    <div class="title-container">
        <h2 class="title">Historia de la colección</h2>
    </div>
    <section>
        <div class="main-content">
           <p>El museo alberga en sus salas una coleccion rica y variada de piezas con las que se busca la conservacion de la historia de Nombre de Dios,
            fosiles vegetales, moluscos fosiles, fosiles de grandes mamiferos, herramientas prehispánicas, elementos coloniales, herramientas agricolas, fotografías de Nombre de Dios antiguo
            son algunas de las piezas que puedes encontrar en está colección.
           </p>
           <img src="/assets/museo-c.png" alt="">
           <p>
            La colección fue con concebida en el año 1987 gracias a los esfuerzos de un grupo de ciudadanos de Nombre de Dios, entre los cuales figuraban: Heriberto Hernandez Velazques, Maria Isabel Guerrero, Gerardo Hernandez, 
            Jose Ruben Saucedo Díaz, Martin Rodriguez, Oscar Manuel Lizalde y Alfredo Renteria
            quienes formaron un patronato, para comenzar a recolectar piezas y tenerlas bajo custodia en una casa particular, la cual después fue trasladada a un inmueble que sería coonocido  como el museo comunitario Contalpa.  
           </p>
        </div>
    </section>
</main>
