<main>
    <div class="title-container">
        <h2 class="title">IGHNDAC</h2>
    </div>
    <section>
        <div class="main-content">
           <p>
            E el día 18 de septiembre del año 1989 se crea oficialmente la asosiacion civil "investigadores y guardianes de la historia de Nombre de Dios" la cual hasta la fecha es la encargada del museo.
            <br>
            La creacion de la asosiación se realiza para ganar independencia y notabilidad para asi poder realizar actividades con mayor libertad.
           </p>
           <img src="/assets/museo-c.png" alt="Fachada del museo">
        </div>
    </section>
</main>
