<main>
    <section class="featured">
        <div class="featured-container col-sm-9">
            <a routerLink="/acerca-museo/historia">
                <img src="/assets/MUSEO-CONTALPA-7.jpg" alt="">
            </a>
        </div>
        <div class="fetured-description">
                <h1>El museo comunitario Contalpa</h1>
                <a href="/coleccion/coleccion-permanente">
                <h2>Exposición permanente</h2>
                <h4>Nombre de Dios, Dgo</h4>
                </a>
            <div class="featured-footer">
                <div class="footer-text">
                    <p>Con la colaboracion de la comunidad de Nombre de dios</p>
                </div>
                <div class="footer-botton">
                    <a href="/acerca-museo/historia"  class="ov-btn-slide-bottom">A cerca del museo</a>
                </div>
            </div>
        </div>
    </section>
    <section class="highlights">
        <div class="container">
            <div class="carousel">
                <div class="carousel-wrapper">
                    <div href="" class="item" id="slide-0">
                        <img src="/assets/Museo-1.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-1">
                        <img src="/assets/MUSEO-CONTALPA-6.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-2">
                        <img src="/assets/MUSEO-CONTALPA-7.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-3">
                        <img src="/assets/MUSEO-CONTALPA-8.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-4">
                        <img src="/assets/MUSEO-CONTALPA-10.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-5">
                        <img src="/assets/MUSEO-CONTALPA-12.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-6">
                        <img src="/assets/MUSEO-CONTALPA-14.jpg" alt="" width="418" height="418" />
                    </div> 
               </div>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="agenda-container">
            <div class="filters">
                <div  class="agenda-title">
                    <h2>Agenda</h2>
                </div>
                <div class="btn-group">
                    <!-- <a href="" class="btn btn-primary-outlined">Hoy</a>
                    <a href="" class="btn btn-primary-outlined">Esta semana</a>
                    <a href="" class="btn btn-primary-outlined">Este mes</a>
                    <input type="date" class="btn btn-primary-outlined" id=""> -->
                    <!-- <form class="btn btn-primary-outlined" action="">
                        <input type="date">
                        <button class="btn btn-primary-outlined"></button>
                        <span>Elegir  fecha</span>
                    </form> -->
                </div>
            </div>
            <div class="agenda-cards" *ngIf="blogPosts$ | async as blogPosts">
                <div class="card" *ngFor="let blogPost of blogPosts.items">
                    <img class="card-img" [src]="blogPost.fields.image.fields.file.url" alt="">
                    <div class="body-card">
                        <h6 class="summary">{{blogPost.fields.tipo}}</h6>
                        <h1>{{blogPost.fields.titulo}}</h1>
                        <h4 class="summary">{{blogPost.fields.fecha}}</h4>
                        <h4 class="summary">{{blogPost.fields.duracion}}</h4>
                        <p class="summary">{{blogPost.fields.descripcion}}</p>
                        <h6 class="summary">{{blogPost.fields.publico}}</h6>
                    </div>
                    <!-- <a [routerLink]="['/blog', blogPost.sys.id]">Read more</a> -->
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="features-container">
            <div class="card-1">
                <div class="features-body-card">
                    <a href="/no-disponible">
                        <h1>Biblioteca multimedia</h1>
                        <h4>Laboratorio de proyectos digitales: aplicaciones, imagenes, juegos...</h4>
                    </a>
                    <a href="/no-disponible">
                    <img src="/assets/museo.png" alt="" class="card-img">
                    </a>
                    <div class="card-botton">
                        <a href="/no-disponible"  class="ov-btn-slide-bottom">Ir a biblioteca multimedia</a>
                    </div>
                </div>
            </div>
            <div class="card-2">
                <div class="features-body-card">
                    <a href="/no-disponible">
                        <h1>Tienda</h1>
                        <h4>Tienda online en donde puedes encontrar libors, stickers, camisetas</h4>
                    </a>
                    <a href="/no-disponible">
                    <img src="/assets/Museo-1.jpg" alt="" class="card-img">
                    </a>
                    <div class="card-botton">
                        <a href="/no-disponible"  class="ov-btn-slide-bottom">Ir a la tienda</a>
                    </div>
                </div>
            </div>
            <div class="card-3">
                <div class="features-body-card">
                    <a href="/no-disponible">
                        <h1>Hazte amigo del museo Contalpa</h1>
                        <h4>Forma parte del equipo del museo contalpa y conservemos nuestra historia.</h4>
                    </a>
                    <a href="/no-disponible">
                    <img src="/assets/ighndac.jpg" alt="" class="card-img">
                    </a>
                    <div class="card-botton">
                        <a href="/no-disponible"  class="ov-btn-slide-bottom">Hazte amigo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="outstanding">
    <div class="outstand-container">
        <div class="out-card">
            <div class="body-card">
                <img class="icon" src="/assets/clock-solid.svg" alt="">
                <h1 class="today card-title">Hoy</h1>
                <h6 class="date"> {{todayDate | date:'shortDate'}}</h6>
                <a class="link" href="/coleccion/coleccion-permanente">
                    <h2>Exposicion permanente</h2>
                </a>
                    <h3>De 11:00 am a 5:00pm</h3>
                <!-- <div class="card-botton">
                    <a href=""  class="btn btn-primary-outlined">Ver todos los horarios</a>
                </div> -->
            </div>
        </div>
        <div class="out-card">
            <div class="body-card">
                <img class="icon" src="/assets/receipt-solid.svg" alt="">
                <h1 class="card-title">Tarifas</h1>
                <h3>Exposicion permanente/ exposiciones temporales/ Eventos</h3>
                <h3>Entra gratis todo el año</h3>
                <h3>De 11:00 am a 5:00pm</h3>
                <h4>El horario de los eventos organizados por el museo puede variar te recomendamos revisar la agenda para que estes enterado de todo.</h4>
            </div>
        </div>
        <div class="out-card">
            <div class="body-card">
                <img class="icon" src="/assets/map-pin-solid.svg" alt="">
                <h1 class="card-title">Cómo llegar</h1>
                <h3>Museo Comunitario Contalpa</h3>
                <h3>Francisco Zarco 303, Nombre de Dios, Durango</h3>
                <div class="card-botton">
                    <a href="/visita/como-llegar"  class="ov-btn-slide-bottom">Ver cómo llegar</a>
                </div>
            </div>
        </div>
    </div>
</section>