<main>
    <section class="featured">
        <div class="featured-container">
            <a routerLink="/acerca-museo/historia">
                <img src="/assets/MUSEO-CONTALPA-7.jpg" alt="">
            </a>
        </div>
        <div class="fetured-description">
                <h1>El museo comunitario Contalpa</h1>
                <a href="/coleccion/coleccion-permanente">
                <h2>Exposición permanente</h2>
                <h4>Nombre de Dios, Dgo</h4>
                </a>
            <div class="featured-footer">
                <div class="footer-text">
                    <p>Con la colaboracion de la comunidad de Nombre de dios</p>
                </div>
                <div class="footer-botton">
                    <a href="/acerca-museo/historia"  class="ov-btn-slide-bottom">A cerca del museo</a>
                </div>
            </div>
        </div>
    </section>
    <section class="highlights">
        <div class="container">
            <div class="carousel">
                <div class="carousel-wrapper">
                    <div href="" class="item" id="slide-0">
                        <img src="/assets/Museo-1.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-1">
                        <img src="/assets/MUSEO-CONTALPA-6.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-2">
                        <img src="/assets/MUSEO-CONTALPA-7.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-3">
                        <img src="/assets/MUSEO-CONTALPA-8.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-4">
                        <img src="/assets/MUSEO-CONTALPA-10.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-5">
                        <img src="/assets/MUSEO-CONTALPA-12.jpg" alt="" width="418" height="418" />
                    </div>
                    <div href="" class="item" id="slide-6">
                        <img src="/assets/MUSEO-CONTALPA-14.jpg" alt="" width="418" height="418" />
                    </div> 
               </div>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="agenda-container">
            <div class="filters">
                <div  class="agenda-title">
                    <h2>Agenda</h2>
                </div>
                <div class="btn-group">
                    <!-- <a href="" class="btn btn-primary-outlined">Hoy</a>
                    <a href="" class="btn btn-primary-outlined">Esta semana</a>
                    <a href="" class="btn btn-primary-outlined">Este mes</a>
                    <input type="date" class="btn btn-primary-outlined" id=""> -->
                    <!-- <form class="btn btn-primary-outlined" action="">
                        <input type="date">
                        <button class="btn btn-primary-outlined"></button>
                        <span>Elegir  fecha</span>
                    </form> -->
                </div>
            </div>
            <div class="agenda-cards">
                    <div class="card">
                            <img src="/assets/expo.jpg" alt="" class="card-img">
                        <div class="body-card">
                                <h6>Exposicion temporal</h6>
                                <h1>Arquitectura y devciones del camino real de tierra adentro</h1>
                                <h4>De enero a octubre 2022</h4>
                                <p>Esta exposicion itinerante nos muestra un poco de los 19 lugares por los que el camino real de tierra adentro recorre dentro del esatdo de durango, asi como de sus devociones y arquitectura.</p>
                                <h6>Publico general</h6>
                        </div>
                    </div>
                    <div class="card">
                            <img src="/assets/san-francisco.jpg" alt="" class="card-img">
                        <div class="body-card">
                                <h6>Visita guiada</h6>
                                <h1>Visita: Templo de san Francisco</h1>
                                <h4>Lunes 9 de coctubre 2023</h4>
                                <p>Tienes la oportunidad de visitar y conocer la historia del templo mas antiguo del norte del país.</p>
                                <h6>Publico general</h6>
                        </div>
                    </div>
                    <div class="card">
                            <img src="/assets/ighndac.jpg" alt="" class="card-img">
                        <div class="body-card">
                                <h6>Divulgación</h6>
                                <h1>Investigadores y guardianes de la historia de Nombre de Dios</h1>
                                <h4>Lunes 9 de octubre 2023</h4>
                                <p>Conoce a los integrantes de esta asociacion civil, las activiades que realizan en el municipio y como formar parte de ella.</p>
                                <h6>Publico general</h6>
                        </div>
                    </div>
                    <!-- <div class="card">
                        <a href="">
                            <img src="/assets/ighndac.jpg" alt="" class="card-img">
                        </a>
                        <div class="body-card">
                            <a href="">
                                <h6>Divulgación</h6>
                                <h1>Investigadores y guardianes de la historia de Nombre de Dios</h1>
                                <h4>Lunes 9 de octubre 2023</h4>
                                <p>Conoce a los integrantes de esta asociacion civil, las activiades que realizan en el municipio y como formar parte de ella.</p>
                                <h6>Publico general</h6>
                            </a>
                            <div class="card-botton">
                                <a href=""  class="ov-btn-slide-bottom">I1nformación</a>
                            </div>
                        </div>
                    </div> -->
            </div>
            <!-- <div class="agenda-buton">
                <a href=""  class="btn btn-primary-outlined">Ver toda la agenda</a>
            </div> -->
        </div>
    </section>
    <section class="features">
        <div class="features-container">
            <div class="card-1">
                <div class="body-card">
                    <a href="/no-disponible">
                        <h1>Biblioteca multimedia</h1>
                        <h4>Laboratorio de proyectos digitales: aplicaciones, imagenes, juegos...</h4>
                    </a>
                    <a href="/no-disponible">
                    <img src="/assets/Museo-1.jpg" alt="" class="card-img">
                    </a>
                    <div class="card-botton">
                        <a href="/no-disponible"  class="ov-btn-slide-bottom">Ir a biblioteca multimedia</a>
                    </div>
                </div>
            </div>
            <div class="card-2">
                <div class="body-card">
                    <a href="/no-disponible">
                        <h1>Tienda</h1>
                        <h4>Tienda online en donde puedes encontrar libors, stickers, camisetas</h4>
                    </a>
                    <a href="/no-disponible">
                    <img src="/assets/Museo-1.jpg" alt="" class="card-img">
                    </a>
                    <div class="card-botton">
                        <a href="/no-disponible"  class="ov-btn-slide-bottom">Ir a la tienda</a>
                    </div>
                </div>
            </div>
            <div class="card-3">
                <div class="body-card">
                    <a href="/no-disponible">
                        <h1>Hazte amigo del museo Contalpa</h1>
                        <h4>Forma parte del equipo del museo contalpa y conservemos nuestra historia.</h4>
                    </a>
                    <a href="/no-disponible">
                    <img src="/assets/Museo-1.jpg" alt="" class="card-img">
                    </a>
                    <div class="card-botton">
                        <a href="/no-disponible"  class="ov-btn-slide-bottom">Hazte amigo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="outstanding">
    <div class="outstand-container">
        <div class="out-card">
            <div class="body-card">
                <img class="icon" src="/assets/clock-solid.svg" alt="">
                <h1 class="today card-title">Hoy</h1>
                <h6 class="date"> {{todayDate | date:'shortDate'}}</h6>
                <a href="/coleccion/coleccion-permanente">
                    <h2>Exposicion permanente</h2>
                </a>
                    <h2>Ver toda la agenda</h2>
                <h3>De 11:00 am a 5:00pm</h3>
                <!-- <div class="card-botton">
                    <a href=""  class="btn btn-primary-outlined">Ver todos los horarios</a>
                </div> -->
            </div>
        </div>
        <div class="out-card">
            <div class="body-card">
                <img class="icon" src="/assets/receipt-solid.svg" alt="">
                <h1 class="card-title">Tarifas</h1>
                <h3>Exposicion permanente/ exposiciones temporales/ Eventos</h3>
                <h3>Entra gratis todo el año</h3>
                <h3>De 11:00 am a 5:00pm</h3>
                <h4>El horario de los eventos organizados por el museo puede variar te recomendamos revisar la agenda para que estes enterado de todo.</h4>
            </div>
        </div>
        <div class="out-card">
            <div class="body-card">
                <img class="icon" src="/assets/map-pin-solid.svg" alt="">
                <h1 class="card-title">Cómo llegar</h1>
                <h3>Museo Comunitario Contalpa</h3>
                <h3>Francisco Zarco 303, Nombre de Dios, Durango</h3>
                <div class="card-botton">
                    <a href="/visita/como-llegar"  class="ov-btn-slide-bottom">Ver cómo llegar</a>
                </div>
            </div>
        </div>
    </div>
</section>