<main>
    <div class="title-container">
        <h1>Colección permanente</h1>
    </div>
    <section class="hall jp-hall">
        <div class="hall-description">
            <h1>Sala "Jacobo Agustín Peinado Ochoa"</h1>
            <h4>Esta sala alberga tres secciónes:<br>a&#41; Recepción y biblioteca<br>b&#41; Cocina rústica.<br>c&#41; Exposiciones temporales</h4>
        </div>
    </section>
    <section class="hall second-hall">
        <div class="hall-description">
            <h1>Sala #2</h1>
            <h4>Esta sala alberga dos secciónes:<br>a&#41; Peleontología<br>b&#41; Tecnología</h4>
        </div>
    </section>
    <section class="hall third-hall">
        <div class="hall-description">
            <h1>Sala #3</h1>
            <h4>Esta sala alberga dos secciónes:<br>a&#41; Arqueología<br>b&#41; Conquista espiritual</h4>
        </div>
    </section>
    <section class="hall fourth-hall">
        <div class="hall-description">
            <h1>Sala #4</h1>
            <h4>Esta sala alberga una secciónes:<br>a&#41; Colonia</h4>
        </div>
    </section>
    <section class="hall fifth-hall">
        <div class="hall-description">
            <h1>Sala #5</h1>
            <h4>Esta sala alberga una sección:<br>a&#41; Colonia</h4>
        </div>
    </section>
    <section class="hall ch-hall">
        <div class="hall-description">
            <h1>Sala "Chabelita Guerrero"</h1>
            <h4>Esta sala alberga dos secciónes:<br>a&#41; Fotografías Nombre de Dios antiguo<br>b&#41; Galería de rienas del pueblo</h4>
        </div>
    </section>
</main>