<main>
    <section class="outstanding">
        <div class="outstand-container">
            <div class="out-card">
                <div class="body-card">
                    <h1 class="today">Hoy</h1>
                    <h6 class="date"> {{todayDate | date:'shortDate'}}</h6>
                    <a href="">
                        <h2>Exposicion permanente</h2>
                    </a>
                    <!-- <a href="">
                        <h2>Ver toda la agenda</h2>
                    </a> -->
                    <h3>De 11:00 am a 5:00pm</h3>
                    <!-- <div class="card-botton">
                        <a href=""  class="ov-btn-slide-bottom">Ver todos los horarios</a>
                    </div> -->
                </div>
            </div>
            <div class="out-card">
                <div class="body-card">
                    <h1>Tarifas</h1>
                    <a href="">
                        <h3>Exposicion permanente/ exposiciones temporales/ Eventos</h3>
                    </a>
                    <h3>Entra gratis todo el año</h3>
                    <h3>De 11:00am a 5:00pm</h3>
                    <h4>El horario de los eventos organizados por el museo puede variar te recomendamos revisar la agenda para que estes enterado de todo.</h4>
                </div>
            </div>
            <div class="out-card">
                <div class="body-card">
                    <h1>Cómo llegar</h1>
                    <h3>Museo Comunitario Contalpa</h3>
                    <h3>Francisco Zarco 303, Nombre de Dios, Durango</h3>
                    <div class="card-botton">
                        <a href="/visita/como-llegar"  class="ov-btn-slide-bottom">Ver cómo llegar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="general">
        <div class="visit-plan">
            <div class="v-plan">
                <h1 class="v-plan-title">Planea tu visita</h1>
                <h4 class="v-plan-description">
                    El Museo Contalpa colabora con diversas instituciones lo cual le  permite ser sede de sus exposiciones temporales,
                    debido a esto algunas exposiciones duran una corta temporada en las instalaciones, del mismo modo los eventos organizados
                    por el museo Contalpa se realizan en diversos horarios, por tal motivo te pedimos disculpes las molestias que puedan ocasionar.
                </h4>
            </div >
            <div class="p-cards">
                <a href="/no-disponible">
                    <div class="plan-card">
                        <div class="body-card">
                            <img src="/assets/grupo.JPG" alt="">
                            <h1>Tipos de visita</h1>
                            <h3>¿Solo o en grupo? ¿A tu ritmo o con guía?</h3>
                        </div>
                    </div>
                </a>
                <a href="/no-disponible">
                    <div class="plan-card">
                        <div class="body-card">
                            <img src="/assets/qr-code.png" alt="">
                            <h1>Recursos para la visita</h1>
                            <h3>guia virtual, audioguias</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
