<main>
    <div class="title-container">
        <h1 class="title">Exposiciones</h1>
    </div>
    <section>
        <div class="description">
            <p>
                Consulta las exposiciones y montajes especiales actuales y previstos en los próximos meses. 
                Algunas veces las exposiciones pueden ser puestas durante ciertos días a ciertas horas en exhibicion en la plaza de armas.
                Los montajes especiales son exhibidos en espacios diferentes.
            </p>
        </div>
    </section>
    <section>
        <div class="expo-cards">
            <div class="card">
                    <img src="/assets/altar.jpg" alt="" class="card-img">
                <div class="body-card">
                        <h6>Montaje especial</h6>
                        <h1>Altar del día de muertos</h1>
                        <h4>Del 2 de noviembre al 17 de noviembre de 2023</h4>
                        <h6>Publico general</h6>
                    <!-- <div class="card-botton">
                        <a href=""  class="btn btn-primary-outlined">Información</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</main>